head
	title AppFactory Prototype

body
	.container(ng-app='app-factory')
		.navbar.navbar-default
			ul.nav.navbar-nav
				li.navbar-header
					a.navbar-brand(href='/')
						i.fa.fa-gear
						span AppFactory
				li
					a(href='/blueprints') Blueprints
				li
					a(href='/apps') Apps