.application
	width: 1000px
	margin: 0 auto
	min-height: 700px

	#login-buttons
		position: relative
		top: 20px
		left: 10px

	.document-schema-selector
		margin: 0px 20px
		position: relative
		top: 11px

		a
			font-size: 15px
			padding-bottom: 18px

	.documents-header
		margin-bottom: 15px

		input.search-documents
			float: left
			width: 250px

		button.add-document
			float: right

	.document-image
		cursor: pointer