.blueprint-summary
	display: inline-block
	width: 31%
	vertical-align: top
	margin-right: 20px
	margin-bottom: 20px
	position: relative

	.panel
		height: 120px

	.name
		font-size: 20px

	.icon
		font-size: 60px
		position: absolute
		bottom: 6px
		left: 5px

	.controls
		position: absolute
		bottom: 30px
		right: 10px

.blueprint
	min-height: 700px

	.blueprint-header
		position: relative

		.fa-gear
			position: absolute
			top: 10px
			left: 12px
			font-size: 25px
			color: darken(white, 20%)

		.name
			display: inline-block
			font-size: 17px
			margin-left: 30px

		.version
			font-size: 10px
			margin-left: 10px
			color: rgba(white, 0.5)

	.nav-tabs
		margin-bottom: 30px