.blueprint-summary
	display: inline-block
	width: 31%
	vertical-align: top
	margin-right: 20px

.blueprint
	min-height: 700px

	.fa-flask
		font-size: 20px
		margin-right: 10px

	.name
		display: inline-block
		width: 400px
		font-size: 17px

	.nav-tabs
		margin-bottom: 30px