.applications(ng-controller="ApplicationsCtrl")
	h1 Applications

	.alert.alert-tip
		i.fa.fa-info-circle
		span App Factory is a tool for creating and deploying web-based Applications.
		br/
		i.fa.fa-info-circle
		span As the creator of an Application, you can define the data, logic, and views that users will interact with in order to achieve their goals.
		br/
		i.fa.fa-info-circle
		span Applications can be changed over time to suit the evolving needs of your users.

	br/
	button.btn.btn-sm.btn-success(ng-click="create()")
		i.fa.fa-plus
		label Add Application

	hr/

	.application-summary(ng-repeat="application in applications")
		.panel
			.panel-body
				.name(ng-bind="application.name")

				.controls.pull-right
					button.btn.btn-xs.btn-success(ng-click="open(application)")
						i.fa.fa-globe
						label Open
					button.btn.btn-xs.btn-info(ng-click="edit(application)")
						i.fa.fa-pencil
						label Edit
					button.btn.btn-xs.btn-default(ng-click="delete(application)")
						i.fa.fa-trash

				i.icon.fa.fa-gear