.blueprint(ng-controller="BlueprintCtrl")
	
	.panel.panel-default.blueprint-header
		.panel-heading
			i.fa.fa-gear
			span.name(ng-bind="blueprint.name")
			span.version(ng-bind="'v' + blueprint.version")
		
			button.btn.btn-xs.btn-success.pull-right(ng-click="openApplication()")
				i.fa.fa-globe
				label Open

	.nav.nav-tabs(ng-if="showNav()")
		li(ui-sref-active="active")
			a(ui-sref="factory.blueprint.documents") Documents
		li(ui-sref-active="active")
			a(ui-sref="factory.blueprint.screens") Screens
		li(ui-sref-active="active")
			a(ui-sref="factory.blueprint.routines") Routines

	div(ui-view="")