.blueprints(ng-controller="BlueprintsCtrl")
	h1 Blueprints

	button.btn.btn-sm.btn-primary(ng-click="create()")
		i.fa.fa-plus
		label Add Blueprint

	hr/

	.blueprint-summary(ng-repeat="blueprint in blueprints")
		.panel.panel-primary
			.panel-heading
				span
					i.fa.fa-flask
					span(ng-bind="blueprint.name")

				.btn-group.pull-right
					button.btn.btn-xs.btn-default(ng-click="edit(blueprint)")
						i.fa.fa-folder-open-o
						label Open
					button.btn.btn-xs.btn-default(ng-click="delete(blueprint)")
						i.fa.fa-close

			.panel-body
				pre(ng-bind="blueprint | json")
