.blueprint(ng-controller="BlueprintCtrl")
	
	.panel.panel-info.blueprint-header
		.panel-heading
			span
				i.fa.fa-flask
				.name(ng-bind="blueprint.name")

			.pull-right
				.version(ng-bind="'v' + blueprint.version")

	.nav.nav-tabs
		li(ui-sref-active="active")
			a(ui-sref="factory.blueprint.documents") Documents
		li(ui-sref-active="active")
			a(ui-sref="factory.blueprint.screens") Screens
		li(ui-sref-active="active")
			a(ui-sref="factory.blueprint.routines") Routines

	div(ui-view="")