.create_attribute
	.modal-header
		h3.modal-title Create Attribute

	.modal-body
		form(ng-submit="submit()" novalidate)
			.form-group
				label Name
				input.form-control(
					type="text" 
					ng-model="attribute.name"
					autofocus
				)
			.form-group
				label Type
				select.form-control(
					ng-options="value as key for (key, value) in attributeTypes"
					ng-model="attribute.type"
				)

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn-primary(ng-click="submit()") 
			label Create
			i.fa.fa-chevron-right