.create-application
	.modal-header
		h3.modal-title Create Application

	.modal-body
		form.row
			.form-group.col-sm-12
				label Name
				input.form-control(
					type="text" 
					ng-model="name"
					autofocus
				)
			.form-group.col-sm-12
				label Theme
				select.form-control(
					ng-options="theme.key as theme.name for theme in themes" 
					ng-model="selectedTheme"
				)

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn-success(ng-click="submit()") 
			label Add 
			i.fa.fa-chevron-right