.create-blueprint
	.modal-header
		h3.modal-title Create Blueprint

	.modal-body
		form(ng-submit="submit()" novalidate)
			.form-group
				label Name
				input.form-control(
					type="text" 
					ng-model="name"
					autofocus
				)

	.modal-footer
		button.btn.btn-default(ng-click="$dismiss()") Cancel
		button.btn.btn-success(ng-click="submit()") 
			label Create
			i.fa.fa-chevron-right