link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/superhero/bootstrap.min.css" rel="stylesheet")

.factory
	.navbar.navbar-default
		ul.nav.navbar-nav
			li.navbar-header
				a.navbar-brand(ui-sref='factory.home')
					i.fa.fa-flask
					span App Factory Prototype
			li(ui-sref-active="active")
				a(
					ui-sref='factory.applications' 
					ng-if='currentUser'
				) Applications
			li
				meteor-include(src='loginButtons')

	div(ui-view='')