.home(ng-controller="HomeCtrl")
	.jumbotron
		h1 App Factory
		p The layman's tool for creating, designing, and delivering software applications.
		br/
		
		.github
			a(href="https://github.com/AppFactoryOrg/prototype-frontend" target="_blank")
				i.fa.fa-github
				span GitHub
		.website
			a(href="http://app-factory.io" target="_blank")
				i.fa.fa-globe
				span Website
		.twitter
			a(href="http://twitter.com/appfactoryorg" target="_blank")
				i.fa.fa-twitter
				span Twitter

	.alert.alert-tip(ng-hide="currentUser")
		i.fa.fa-info-circle
		span To get started, sign in or create an account.

	.alert.alert-tip(ng-show="currentUser")
		i.fa.fa-info-circle
		span To begin creating, go to Applications in the top menu.

	hr/
	button.btn.btn-default(ng-click="hideTutorials()" ng-hide="$root.currentUser.hideTutorials")
		label Hide Tutorial