.screen-schema.well.clearfix
	form.form-inline(novalidate)
		.form-group
			label Name
			input.form-control.input-sm.name(type="text" placeholder="Enter a name" ng-model="screenSchema.name")
		
		.form-group
			input.form-control(type="checkbox" ng-model="screenSchema.showInNav")
			label Show in Navigation

		button.btn.btn-sm.btn-success.save(ng-click="saveScreenSchema()")
			label Save
			i.fa.fa-save
		button.btn.btn-sm.btn-default.delete(ng-click="deleteScreenSchema()")
			i.fa.fa-trash

		.views
			.view-summary(ng-repeat="view in views")
				h4 {{view.name}}
				div Type: {{view.type | dictionary:viewTypes}}
				div Document: {{getDocumentName(view.document_type)}}

	button.btn.btn-sm.btn-success.create(ng-click="addView()")
		i.fa.fa-plus
		label Add View
